* {
    box-sizing: border-box;
}

.navbar-nav {
    background-color: beige;
}

.nav-item {
    text-align: center;
    border: 1px solid black;
}

p {
    width: 100%;
    background-color: beige;
}

nav {
    background-color: rgb(162, 107, 107);
    border-bottom: 2px solid black;
}

h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.container-fluid {
    padding: 0;
}

.navbar-brand {
    padding-left: 15px;
}

.navbar-toggler {
    margin-right: 15px;
}

.navbar, .navbar-expand-lg {
    padding-bottom: 0;
    margin-bottom: 0;
}